#visual-portal-wrapper {
    border-top: 8px solid #46812B;
}

a:link, a:visited {
    color: #46812B;
}

a.navTreeCurrentItem, a.navTreeCurrentItem:visited {
    color: #46812B !important;
}

#content a:link, dl.portlet a:link {
    color: #46812B;
    border-bottom: 0.1em solid #133C00;
}

#content a:visited, dl.portlet a:visited {
    color: #46812B;
    border-bottom: 0.1em solid #133C00;
}

#content a:hover, dl.portlet a:hover {
    color: #46812B !important; /* This one gets an !important because it should always activate in the content area, even when state coloring is active */
}

#portal-globalnav, #portal-globalnav li a {
    background:#46812B !important;  
    color: #FFFFFF !important;
}

#portal-personaltools dd a:hover {
    background:#46812B !important;
    color: #FFFFFF !important;
}

div.donate-now-portlet a {
    background: #46812B !important;
}

#portlets-below a, #portlets-below .portletHeader {
    color: #46812B !important;
}
